---
http_interactions:
- request:
    method: get
    uri: https://api.opencorporates.com/v0.4/companies/search?api_token=<%= ENV["OPENC_API_TOKEN"]
      %>&name=Central&page=1&per_page=100&registered_address_in_full=S43%204PZ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"api_version":"0.4","results":{"companies":[{"company":{"name":"CENTRAL
        A1 LIMITED","company_number":"09151185","jurisdiction_code":"gb","incorporation_date":"2014-07-29","dissolution_date":null,"company_type":"Private
        Limited Company","registry_url":"http://data.companieshouse.gov.uk/doc/company/09151185","branch_status":null,"inactive":false,"current_status":"Active","created_at":"2014-07-29T08:46:58+00:00","updated_at":"2015-09-09T14:40:06+00:00","retrieved_at":"2015-06-01T00:00:00+00:00","opencorporates_url":"https://opencorporates.com/companies/gb/09151185","previous_names":[],"source":{"publisher":"UK
        Companies House","url":"http://xmlgw.companieshouse.gov.uk/","terms":"UK Crown
        Copyright","retrieved_at":"2015-06-01T00:00:00+00:00"},"registered_address_in_full":"UNIT
        7  NAPIER COURT GANDER LANE, BARLBOROUGH LINKS, CHESTERFIELD, DERBYSHIRE,
        ENGLAND, S43 4PZ"}},{"company":{"name":"CENTRAL A10 LIMITED","company_number":"09151325","jurisdiction_code":"gb","incorporation_date":"2014-07-29","dissolution_date":null,"company_type":"Private
        Limited Company","registry_url":"http://data.companieshouse.gov.uk/doc/company/09151325","branch_status":null,"inactive":false,"current_status":"Active","created_at":"2014-07-29T08:48:01+00:00","updat[...]
[...]
